<!doctype html>
<html>
  <head>
    <title>Nuno Coelho Santos, Designer. <%= current_page.data.title %></title>
    <!-- Technical Formating Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-gb">
    <meta http-equiv="expires" content="Wed, 31 Dec 2016 12:00:00 GMT">
    <!-- Authoring Meta Tags -->
    <meta name="author" content="Nuno Coelho Santos">
    <meta name="publisher" content="Nuno Coelho Santos">
    <meta name="copyright" content="2016 by Nuno Coelho Santos">
    <meta name="host" content="linode.com">
    <meta name="generator" content="Middleman">
    <meta name="url" content="http://nunocoelhosantos.com/">
    <meta name="description" content="">
    <!-- Search Engine Meta Tags -->
    <meta name="keywords" content="nuno, coelho, coehlo, santos, graphic, web, designer, produt, csm, saint, martins, london, ustwo, thread, ideo">
    <meta name="revisit-after" content="90 days">
    <meta name="rating" content="General">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no" name="viewport">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Information about the author -->
    <link rel="me" href="https://twitter.com/nunosans" type="text/html">
    <link rel="me" href="https://facebook.com/nunosans" type="text/html">
    <link rel="me" href="https://instagram.com/nunosans" type="text/html">
    <link rel="me" href="https://github.com/nunosans" type="text/html">
    <link rel="me" href="https://dribbble.com/nunosans" type="text/html">
    <link rel="me" href="mailto:nuno@nunocoelhosantos.com">
    <link rel="me" href="sms:+819049300962">
    <!-- Facebook Meta Tags -->
    <meta property="fb:app_id" content="216841345410203">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@nunosans">
    <meta name="twitter:site" content="@nunosans">
    <meta name="twitter:url" content="https://twitter.com/nunosans">
    <meta name="twitter:title" content="Nuno Coelho Santos">
    <meta name="twitter:description" content="Profile and recent work">
    <meta name="twitter:image" content="http://nunocoelhosantos.com/graphics/twitter-image.jpg">
    <!-- Favicon Meta Tags -->
    <link rel="icon" href="./graphics/favicon-16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="./graphics/favicon-32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="./graphics/favicon-48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="./graphics/favicon-62.png" sizes="62x62" type="image/png">
    <link rel="icon" href="./graphics/favicon-192.png" sizes="192x192" type="image/png">
    <link rel="mask-icon" href="path/to/icon.svg" color="red">
    <!-- Open Graph Meta Tags (ogp.me) -->
    <meta property="og:url" content="http://nunocoelhosantos.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Nuno Coelho Santos">
    <meta property="og:image" content="http://nunocoelhosantos.com/graphics/open-graph-image-1.jpg">
    <meta property="og:image" content="http://nunocoelhosantos.com/graphics/open-graph-image-2.jpg">
    <meta property="og:image" content="http://nunocoelhosantos.com/graphics/open-graph-image-3.jpg">
    <meta property="og:site_name" content="Nuno Coelho Santos">
    <meta property="og:description" content="Profile and recent work">
    <meta property="og:locale" content="en_US">
    <!-- Stylesheets -->
    <%= stylesheet_link_tag :site %>
    <!-- Typekit -->
    <script src="http://use.typekit.com/qxu7res.js"></script>
    <script>try{Typekit.load();}catch(e){};</script>
  </head>

  <body>

    <%= yield %>

    <%= partial "baseline_grid" %>
    <%= partial "column_grid" %>

    <!-- JavaScript. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <%= javascript_include_tag :all %>
  </body>
</html>
