<article class="project project-clinicians">

  <section class="emphasize">
    <p>
      <%= t(:clinicians_title) %>
    </p>
  </section>

  <main>

    <div class="project-intro">
      <h6><%= t(:label_project) %></h6>
      <p>
        <%= t(:clinicians_project) %>
      </p>
      <h6><%= t(:label_role) %></h6>
      <p>
        <%= t(:clinicians_role) %>
      </p>
      <h6><%= t(:label_date) %></h6>
      <p>
        <%= t(:clinicians_date) %>
      </p>
      <h6><%= t(:label_website) %></h6>
      <p>
        <%= t(:clinicians_website) %>
      </p>
      <h6><%= t(:label_description) %></h6>
      <p>
        <%= t(:clinicians_description) %>
      </p>
    </div>

    <div class="project-item">
      <p>
        <%= t(:clinicians_body_1) %>
      </p>
    </div>

  </main>

</article>
