<article class="project project-currency">

  <section class="emphasize">
    <p>
      <%= t(:currency_title) %>
    </p>
  </section>

  <main>

    <div class="project-intro">
      <h6><%= t(:label_role) %></h6>
      <p>
        <%= t(:currency_role) %>
      </p>
      <h6><%= t(:label_date) %></h6>
      <p>
        <%= t(:currency_date) %>
      </p>
      <h6><%= t(:label_website) %></h6>
      <p>
        <%= t(:currency_website) %>
      </p>
    </div>

    <div class="project-item project-currency-intro">
      <p>
        <%= t(:currency_body_1) %>
      </p>
      <p>
        <%= t(:currency_body_2) %>
      </p>
      <p class="scribble">
        <%= t(:currency_scribble_1) %>
      </p>
    </div>

    <div class="project-item project-currency-iphone">
      <div class="iphone-with-video project-currency-iphone-video">
        <video
          width="293"
          height="518"
          poster="./images/nuno-coelho-santos-currency-iphone-video.jpg"
          autoplay muted loop playsinline
        >
          <source src="/videos/nuno-coelho-santos-currency-iphone-video.mp4">
          <source src="/videos/nuno-coelho-santos-currency-iphone-video.ogg"  type="video/ogg">
          <source src="/videos/nuno-coelho-santos-currency-iphone-video.webm" type="video/webm">
        </video>
      </div>
      <p>
        <%= t(:currency_body_3) %>
      </p>
      <p>
        <%= t(:currency_body_4) %>
      </p>
    </div>

    <div class="project-item project-currency-app-icon">
      <img
        class="lazy-load"
        src="/images/nuno-coelho-santos-currency-app-icon-2x.png"
        alt="Currency for iOS App Icon, work by Nuno Coelho Santos"
        width="126"
        height="126"
      >
      <p>
        <%= t(:currency_body_5) %>
      </p>
    </div>

    <div class="project-item project-currency-symbols">
      <img
        class="lazy-load"
        src="/images/nuno-coelho-santos-currency-symbols-1x.png"
        alt="Currency for iOS glyphs and icons, work by Nuno Coelho Santos"
        srcset="/images/nuno-coelho-santos-currency-symbols-2x.png 2x,
                                /images/nuno-coelho-santos-currency-symbols-3x.png 3x"
        width="440"
        height="543"
      >
      <p>
        <%= t(:currency_body_6) %>
      </p>
    </div>

    <div class="project-item project-currency-process">
      <img
        class="lazy-load"
        src="/images/nuno-coelho-santos-currency-process-1x.jpg"
        srcset="/images/nuno-coelho-santos-currency-process-2x.jpg 2x,
                /images/nuno-coelho-santos-currency-process-3x.jpg 3x"
        alt="Currency for iOS Design Process, work by Nuno Coelho Santos"
        width="972"
        height="714"
      >
      <p>
        <%= t(:currency_body_7) %>
        <br><br>
        <%= t(:currency_body_8) %>
      </p>
    </div>

    <div class="project-item project-currency-development">
      <img
        class="lazy-load project-currency-image-development"
        src="/images/nuno-coelho-santos-currency-development-1x.jpg"
        srcset="/images/nuno-coelho-santos-currency-development-2x.jpg 2x,
                /images/nuno-coelho-santos-currency-development-3x.jpg 3x"
        alt="Currency for iOS Development Process, work by Nuno Coelho Santos"
        width="750"
        height="1828"
        data-layout="narrow"
      >
      <img
        class="lazy-load project-currency-image-storyboard"
        src="/images/nuno-coelho-santos-currency-storyboard-1x.png"
        srcset="/images/nuno-coelho-santos-currency-storyboard-2x.png 2x,
                /images/nuno-coelho-santos-currency-storyboard-3x.png 3x"
        alt="Currency for iOS Xcode Storyboard, work by Nuno Coelho Santos"
        width="444"
        height="400"
        data-layout="wide"
      >
      <img
        class="lazy-load project-currency-image-exploded-ui"
        src="/images/nuno-coelho-santos-currency-exploded-ui-1x.png"
        srcset="/images/nuno-coelho-santos-currency-exploded-ui-2x.png 2x,
                /images/nuno-coelho-santos-currency-exploded-ui-3x.png 3x"
        alt="Currency for iOS Xcode Exploded UI View, work by Nuno Coelho Santos"
        width="455"
        height="454"
        data-layout="wide"
      >
      <img
        class="lazy-load project-currency-image-source-code"
        src="/images/nuno-coelho-santos-currency-source-code-1x.jpg"
        srcset="/images/nuno-coelho-santos-currency-source-code-2x.jpg 2x,
                /images/nuno-coelho-santos-currency-source-code-3x.jpg 3x"
        alt="Currency for iOS Source Code Screenshot, work by Nuno Coelho Santos"
        width="920"
        height="1098"
        data-layout="wide"
      >
      <p>
        <%= t(:currency_body_9) %>
        <br><br>
        <%= t(:currency_body_10) %>
      </p>
    </div>

    <div class="project-item project-currency-localization">
      <img
        class="lazy-load"
        src="/images/nuno-coelho-santos-currency-localization-1x.png"
        srcset="/images/nuno-coelho-santos-currency-localization-2x.png 2x,
                /images/nuno-coelho-santos-currency-localization-3x.png 3x"
        alt="Currency for iOS localization screenshots, work by Nuno Coelho Santos"
        width="1320"
        height="670"
      >
      <p>
        <%= t(:currency_body_11) %>
      </p>
    </div>

    <div class="project-item project-currency-sales">
      <img
        class="lazy-load"
        src="/images/nuno-coelho-santos-currency-sales-1x.jpg"
        srcset="/images/nuno-coelho-santos-currency-sales-2x.jpg 2x,
                /images/nuno-coelho-santos-currency-sales-3x.jpg 3x"
        alt="Currency for iOS sales, work by Nuno Coelho Santos"
        width="720"
        height="700"
      >
      <p>
        <%= t(:currency_body_12) %>
      </p>
    </div>

    <div class="project-item project-currency-results">
      <p>
        <%= t(:currency_body_13) %>
      </p>
      <img
        class="lazy-load"
        src="/images/nuno-coelho-santos-currency-photo-1x.jpg"
        srcset="/images/nuno-coelho-santos-currency-photo-2x.jpg 2x,
                /images/nuno-coelho-santos-currency-photo-3x.jpg 3x"
        alt="Currency for iOS dark mode, work by Nuno Coelho Santos"
        width="720"
        height="700"
      >
    </div>

  </main>

</article>
