<article class="project project-currency">

  <section class="emphasize">
    <p>
      <%= t(:currency_title) %>
    </p>
  </section>

  <main>

    <div class="project-intro">
      <h6><%= t(:label_project) %></h6>
      <p>
        <%= t(:currency_project) %>
      </p>
      <h6><%= t(:label_role) %></h6>
      <p>
        <%= t(:currency_role) %>
      </p>
      <h6><%= t(:label_date) %></h6>
      <p>
        <%= t(:currency_date) %>
      </p>
      <h6><%= t(:label_website) %></h6>
      <p>
        <%= t(:currency_website) %>
      </p>
      <h6><%= t(:label_description) %></h6>
      <p>
        <%= t(:currency_description) %>
      </p>
    </div>

    <div class="project-item project-currency-intro">
      <p>
        <%= t(:currency_body_1) %>
      </p>
      <p>
        <%= t(:currency_body_2) %>
      </p>
      <img
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-goals-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-goals-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-goals-1x.jpg"
        alt="Goals set when designing Currency for iOS"
        width="408"
        height="156"
      >
    </div>

    <div class="project-item project-currency-iphone">
      <div class="iphone-with-video project-currency-iphone-video">
        <video
          width="293"
          height="518"
          poster="./images/nuno-coelho-santos-currency-iphone-video.jpg"
          muted loop
        >
          <source src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/videos/nuno-coelho-santos-currency-iphone-video.mp4">
          <source src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/videos/nuno-coelho-santos-currency-iphone-video.ogg"  type="video/ogg">
          <source src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/videos/nuno-coelho-santos-currency-iphone-video.webm" type="video/webm">
        </video>
      </div>
      <button
        class="button button-play"
        data-action="play-currency-iphone"
        data-layout="wide"
      >
        <span class="icon icon-play"></span><%= t(:label_play) %>
      </button>
      <button
        class="button button-pause"
        data-action="pause-currency-iphone"
        data-layout="hidden"
      >
        <span class="icon icon-pause"></span><%= t(:label_pause) %>
      </button>
      <p>
        <%= t(:currency_body_3) %>
      </p>
      <p>
        <%= t(:currency_body_4) %>
      </p>
    </div>

    <div class="project-item project-currency-app-icon">
      <img
        class="lazy-load"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-app-icon-2x.png"
        alt="Currency for iOS App Icon, work by Nuno Coelho Santos"
        width="126"
        height="126"
      >
      <p>
        <%= t(:currency_body_5) %>
      </p>
    </div>

    <div class="project-item project-currency-symbols">
      <img
        class="lazy-load"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-symbols-2x.png 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-symbols-3x.png 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-symbols-1x.png"
        alt="Currency for iOS glyphs and icons, work by Nuno Coelho Santos"
        width="440"
        height="543"
      >
      <p>
        <%= t(:currency_body_6) %>
      </p>
    </div>

    <div class="project-item project-currency-process">
      <img
        class="lazy-load"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-process-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-process-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-process-1x.jpg"
        alt="Currency for iOS Design Process, work by Nuno Coelho Santos"
        width="972"
        height="714"
      >
      <p>
        <%= t(:currency_body_7) %>
      </p>
    </div>

    <div class="project-item project-currency-development">
      <img
        class="lazy-load project-currency-image-development"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-development-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-development-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-development-1x.jpg"
        alt="Currency for iOS Development Process, work by Nuno Coelho Santos"
        width="750"
        height="1828"
        data-layout="narrow"
      >
      <img
        class="lazy-load project-currency-image-storyboard"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-storyboard-2x.png 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-storyboard-3x.png 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-storyboard-1x.png"
        alt="Currency for iOS Xcode Storyboard, work by Nuno Coelho Santos"
        width="444"
        height="400"
        data-layout="wide"
      >
      <img
        class="lazy-load project-currency-image-exploded-ui"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-exploded-ui-2x.png 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-exploded-ui-3x.png 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-exploded-ui-1x.png"
        alt="Currency for iOS Xcode Exploded UI View, work by Nuno Coelho Santos"
        width="455"
        height="454"
        data-layout="wide"
      >
      <img
        class="lazy-load project-currency-image-source-code"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-source-code-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-source-code-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-source-code-1x.jpg"
        alt="Currency for iOS Source Code Screenshot, work by Nuno Coelho Santos"
        width="920"
        height="1098"
        data-layout="wide"
      >
      <p>
        <%= t(:currency_body_8) %>
      </p>
    </div>

    <div class="project-item project-currency-localization">
      <img
        class="lazy-load"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-localization-2x.png 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-localization-3x.png 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-localization-1x.png"
        alt="Currency for iOS localization screenshots, work by Nuno Coelho Santos"
        width="1320"
        height="670"
      >
      <p>
        <%= t(:currency_body_9) %>
      </p>
    </div>

    <div class="project-item project-currency-results">
      <p>
        <%= t(:currency_body_10) %>
      </p>
      <img
        class="lazy-load"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-photo-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-photo-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-currency-photo-1x.jpg"
        alt="Currency for iOS marketing photo, work by Nuno Coelho Santos"
        width="720"
        height="700"
      >
    </div>

  </main>

</article>
