<article class="project project-other">

  <section class="emphasize">
    <p>
      <%= t(:other_title) %>
    </p>
  </section>

  <main>

    <div class="project-item project-other-big-sur-icons">
      <img
        class="lazy-load"
        srcset="/images/nuno-coelho-santos-other-big-sur-icons-2x.png 2x,
                /images/nuno-coelho-santos-other-big-sur-icons-3x.png 3x"
        src="/images/nuno-coelho-santos-other-big-sur-icons-1x.png"
        alt="A set of icons for Big Sur, a project by Nuno Coelho Santos"
        width="472"
        height="532"
      >
      <h6>
        <%= t(:other_big_sur_icons_title) %>
      </h6>
      <p>
        <%= t(:other_big_sur_icons_body) %>
      </p>
    </div>

    <div class="project-item project-other-15-days-in-japan">
      <img
        class="lazy-load"
        srcset="/images/nuno-coelho-santos-other-15-days-in-japan-2x.jpg 2x,
                /images/nuno-coelho-santos-other-15-days-in-japan-3x.jpg 3x"
        src="/images/nuno-coelho-santos-other-15-days-in-japan-1x.jpg"
        alt="Opening photo from “15 Days in Japan”, a project by Nuno Coelho Santos"
        width="334"
        height="503"
      >
      <h6>
        <%= t(:other_15_days_in_japan_title) %>
      </h6>
      <p>
        <%= t(:other_15_days_in_japan_body) %>
      </p>
    </div>

    <div class="project-item project-other-ustwo-rebrand">
      <img
        class="lazy-load project-other-ustwo-rebrand-logo"
        srcset="/images/nuno-coelho-santos-other-ustwo-rebrand-logo-2x.png 2x,
                /images/nuno-coelho-santos-other-ustwo-rebrand-logo-3x.png 3x"
        src="/images/nuno-coelho-santos-other-ustwo-rebrand-logo-1x.png"
        alt="ustwo logo designed by Nuno Coelho Santos"
        width="460"
        height="260"
      >
      <img
        class="lazy-load project-other-ustwo-rebrand-image"
        srcset="/images/nuno-coelho-santos-other-ustwo-rebrand-image-2x.jpg 2x,
                /images/nuno-coelho-santos-other-ustwo-rebrand-image-3x.jpg 3x"
        src="/images/nuno-coelho-santos-other-ustwo-rebrand-image-1x.jpg"
        alt="Photo taken inside of the ustwo London office"
        width="460"
        height="260"
      >
      <h6>
        <%= t(:other_ustwo_rebrand_title) %>
      </h6>
      <p>
        <%= t(:other_ustwo_rebrand_body) %>
      </p>
    </div>

    <div class="project-item project-other-instagram-redesign">
      <img
        class="lazy-load"
        srcset="/images/nuno-coelho-santos-other-instagram-redesign-2x.jpg 2x,
                /images/nuno-coelho-santos-other-instagram-redesign-3x.jpg 3x"
        src="/images/nuno-coelho-santos-other-instagram-redesign-1x.jpg"
        alt=""
        width="502"
        height="513"
      >
      <h6>
        <%= t(:other_instagram_redesign_title) %>
      </h6>
      <p>
        <%= t(:other_instagram_redesign_body) %>
      </p>
    </div>

  </main>

</article>
