<article class="project project-other">

  <section class="emphasize">
    <p>
      <%= t(:other_title) %>
    </p>
  </section>

  <main>

    <div class="project-item project-other-a-year-in-an-instant">
      <img
        class="lazy-load"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-a-year-in-an-instant-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-a-year-in-an-instant-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-a-year-in-an-instant-1x.jpg"
        alt="Polaroids from “A Year in an Instant”, a project by Nuno Coelho Santos"
        width="472"
        height="532"
      >
      <h6>
        <%= t(:other_a_year_in_an_instant_title) %>
      </h6>
      <p>
        <%= t(:other_a_year_in_an_instant_body) %>
      </p>
    </div>

    <div class="project-item project-other-15-days-in-japan">
      <img
        class="lazy-load"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-15-days-in-japan-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-15-days-in-japan-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-15-days-in-japan-1x.jpg"
        alt="Opening photo from “15 Days in Japan”, a project by Nuno Coelho Santos"
        width="334"
        height="503"
      >
      <h6>
        <%= t(:other_15_days_in_japan_title) %>
      </h6>
      <p>
        <%= t(:other_15_days_in_japan_body) %>
      </p>
    </div>

    <div class="project-item project-other-1975">
      <img
        class="lazy-load"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-1975-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-1975-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-1975-1x.jpg"
        alt="Screenshot of “1975”, a project by Nuno Coelho Santos"
        width="954"
        height="672"
      >
      <h6>
        <%= t(:other_1975_title) %>
      </h6>
      <p>
        <%= t(:other_1975_body) %>
      </p>
    </div>

    <div class="project-item project-other-the-scientist">
      <img
        class="lazy-load"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-the-scientist-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-the-scientist-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-the-scientist-1x.jpg"
        alt="Image of “The Scientist” app for iOS by Nuno Coelho Santos and iterar"
        width="264"
        height="556"
      >
      <h6>
        <%= t(:other_the_scientist_title) %>
      </h6>
      <p>
        <%= t(:other_the_scientist_body) %>
      </p>
    </div>

    <!--<div class="project-item project-other-instagram-redesign">
      <img
        class="lazy-load"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-instagram-redesign-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-instagram-redesign-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-instagram-redesign-1x.jpg"
        alt="Instagram redesign by Nuno Coelho Santos"
        width="502"
        height="513"
      >
      <h6>
        Instagram redesign
      </h6>
      <p>
        I worked on a rebrand concept for ustwo entirely inspired by the company
        culture. This included a new logo, website design, typeface and tone of
        voice. After some refinement, this became the studio’s new identity.
        <a href="http://ustwo.com/" target="_blank">See it here</a>.
      </p>
    </div>-->

    <div class="project-item project-other-stylized">
      <img
        class="lazy-load"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-stylized-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-stylized-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-stylized-1x.jpg"
        alt="Stylize/d logo by Nuno Coelho Santos and Marta Dos Santos"
        width="420"
        height="420"
      >
      <h6>
        <%= t(:other_stylized_title) %>
      </h6>
      <p>
        <%= t(:other_stylized_body) %>
      </p>
    </div>

    <div class="project-item project-other-ustwo-rebrand">
      <img
        class="lazy-load project-other-ustwo-rebrand-logo"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-ustwo-rebrand-logo-2x.png 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-ustwo-rebrand-logo-3x.png 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-ustwo-rebrand-logo-1x.png"
        alt="ustwo logo designed by Nuno Coelho Santos"
        width="460"
        height="260"
      >
      <img
        class="lazy-load project-other-ustwo-rebrand-image"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-ustwo-rebrand-image-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-ustwo-rebrand-image-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-ustwo-rebrand-image-1x.jpg"
        alt="Photo taken inside of the ustwo London office"
        width="460"
        height="260"
      >
      <h6>
        <%= t(:other_ustwo_rebrand_title) %>
      </h6>
      <p>
        <%= t(:other_ustwo_rebrand_body) %>
      </p>
    </div>

    <!--<div class="project-item project-other-paul-cocksedge">
      <img
        class="lazy-load project-other-paul-cocksedge-logo"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-paul-cocksedge-logo-2x.png 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-paul-cocksedge-logo-3x.png 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-paul-cocksedge-logo-1x.png"
        alt="Logo designed for Paul Cocksedge by Nuno Coelho Santos"
        width="460"
        height="260"
      >
      <img
        class="lazy-load project-other-paul-cocksedge-image"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-paul-cocksedge-image-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-paul-cocksedge-image-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-paul-cocksedge-image-1x.jpg"
        alt="Photo of “The Bookmark” by Paul Cocksedge"
        width="460"
        height="260"
      >
      <h6>
        Paul Cocksedge
      </h6>
      <p>
        Brand and online store for the British product designer. I was involved
        in designing the new brand and its applications as well as develop the
        new online store.
        <a href="http://paulcocksedgeshop.com/" target="_blank">Shop here</a>.
      </p>
    </div>-->

    <div class="project-item project-other-marili-andre">
      <img
        class="lazy-load"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-marili-andre-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-marili-andre-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-other-marili-andre-1x.jpg"
        alt="Logo designed for Marili André by Nuno Coelho Santos"
        width="340"
        height="340"
      >
      <h6>
        <%= t(:other_marili_andre_title) %>
      </h6>
      <p>
        <%= t(:other_marili_andre_body) %>
      </p>
    </div>

  </main>

</article>
