<article class="project project-streams">

  <section class="emphasize">
    <p>
      <%= t(:streams_title) %>
    </p>
  </section>

  <main>

    <div class="project-intro">
      <h6><%= t(:label_role) %></h6>
      <p>
        <%= t(:streams_role) %>
      </p>
      <h6><%= t(:label_date) %></h6>
      <p>
        <%= t(:streams_date) %>
      </p>
      <h6><%= t(:label_website) %></h6>
      <p>
        <%= t(:streams_website) %>
      </p>
    </div>

    <div class="project-item">
      <p>
        <%= t(:streams_body_1) %>
      </p>
    </div>

    <div class="project-item">
    </div>

    <div class="project-item">
      <p>
        <%= t(:streams_body_2) %>
      </p>
    </div>

    <div class="project-item">
      <p>
        <%= t(:streams_body_3) %>
      </p>
    </div>

    <div class="project-item">
      <p>
        <%= t(:streams_body_4) %>
      </p>
    </div>

    <div class="project-item">
      <p>
        <%= t(:streams_body_5) %>
      </p>
    </div>

    <div class="project-item">
      <p>
        <%= t(:streams_body_6) %>
      </p>
    </div>

    <div class="project-item">
      <p>
        <%= t(:streams_body_7) %>
      </p>
    </div>

    <div class="project-item">
      <p>
        <%= t(:streams_body_8) %>
      </p>
    </div>

    <div class="project-item">
      <p>
        <%= t(:streams_body_9) %>
      </p>
    </div>

    <div class="project-item">
      <p>
        <%= t(:streams_body_10) %>
      </p>
    </div>

    <div class="project-item">
      <p>
        <%= t(:streams_body_11) %>
      </p>
    </div>

  </main>

</article>
