<article class="project project-streams">

  <section class="emphasize">
    <p>
      <%= t(:streams_title) %>
    </p>
  </section>

  <main>

    <div class="project-intro">
      <h6><%= t(:label_role) %></h6>
      <p>
        <%= t(:streams_role) %>
      </p>
      <h6><%= t(:label_date) %></h6>
      <p>
        <%= t(:streams_date) %>
      </p>
      <h6><%= t(:label_website) %></h6>
      <p>
        <%= t(:streams_website) %>
      </p>
    </div>

    <div class="project-item project-streams-app-icon">
      <img
        class="lazy-load"
        src="/images/nuno-coelho-santos-streams-app-icon-1x.png"
        srcset="/images/nuno-coelho-santos-streams-app-icon-2x.png 2x,
                /images/nuno-coelho-santos-streams-app-icon-3x.png 3x"
        alt="Streams App Icon"
        width="128"
        height="128"
      >
      <p>
        <%= t(:streams_body_1) %>
      </p>
    </div>

    <div class="project-item project-streams-hero">
      <img
        class="lazy-load"
        src="/images/nuno-coelho-santos-streams-ipad-1x.png"
        srcset="/images/nuno-coelho-santos-streams-ipad-2x.png 2x,
                /images/nuno-coelho-santos-streams-ipad-3x.png 3x"
        alt="Streams for iPad"
        width=""
        height=""
      >
      <div class="iphone-with-video">
        <video
          autoplay muted loop playsinline
          poster="/images/streams-on-iphone-video.jpg"
          width=""
          height=""
        >
          <source src="/videos/streams-on-iphone-video.mp4"  type="video/mp4">
          <source src="/videos/streams-on-iphone-video.webm" type="video/webm">
        </video>
      </div>
    </div>

    <div class="project-item project-streams-papers-and-press">
      <table>
        <thead>
          <td colspan="3">
            <%= t(:label_papers) %>
          </td>
        </thead>
        <tbody>
          <tr>
            <td>2019</td>
            <td>Nature</td>
            <td><a href="https://www.nature.com/articles/s41586-019-1390-1">A clinically applicable approach to continuous prediction of future acute kidney injury</a></td>
          </tr>
          <tr>
            <td>2019</td>
            <td>npj Digital Medicine</td>
            <td><a href="https://www.nature.com/articles/s41746-019-0100-6">Evaluation of a digitally-enabled care pathway for acute kidney injury management in hospital emergency admissions</a></td>
          </tr>
        </tbody>
        <thead>
          <td colspan="3">
            <%= t(:label_press) %>
          </td>
        </thead>
        <tbody>
          <tr>
            <td>2019</td>
            <td>The Times</td>
            <td><a href="https://www.thetimes.co.uk/article/4d0f9830-d3b7-11e9-aa6d-16cb9f989e55">DeepMind, artificial intelligence and the future of the NHS</a></td>
          </tr>
          <tr>
            <td>2019</td>
            <td>Google The Keyword</td>
            <td><a href="https://www.blog.google/technology/health/deepmind-health-joins-google-health/">DeepMind’s health team joins Google Health</a></td>
          </tr>
          <tr>
            <td>2019</td>
            <td>Wired</td>
            <td><a href="https://www.wired.co.uk/article/deepmind-streams-ai-algorithm-kidney-injury">DeepMind’s new AI predicts kidney injury two days before it happens</a></td>
          </tr>
          <tr>
            <td>2019</td>
            <td>DeepMind Blog</td>
            <td><a href="https://deepmind.com/blog/article/predicting-patient-deterioration">Using AI to give doctors a 48-hour head start on life-threatening illness</a></td>
          </tr>
          <tr>
            <td>2018</td>
            <td>DeepMind Blog</td>
            <td><a href="https://deepmind.com/blog/announcements/scaling-streams-google">Scaling Streams with Google</a></td>
          </tr>
          <tr>
            <td>2018</td>
            <td>BBC News</td>
            <td><a href="https://www.bbc.com/news/health-44924948">Artificial intelligence ‘did not miss a single urgent case’</a></td>
          </tr>
          <tr>
            <td>2019</td>
            <td>Digital Health</td>
            <td><a href="https://www.digitalhealth.net/2017/12/google-deepmind-streams-royal-free/">Google DeepMind’s Streams technology branded ‘phenomenal’</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="project-item project-streams-team">
      <p>
        <%= t(:streams_body_2) %>
      </p>
      <video
        autoplay muted loop playsinline
        poster="/images/nuno-coelho-santos-streams-team.jpg"
        width=""
        height=""
      >
        <source src="/videos/nuno-coelho-santos-streams-team.mp4"  type="video/mp4">
        <source src="/videos/nuno-coelho-santos-streams-team.webm" type="video/webm">
      </video>
    </div>

    <div class="project-item project-streams-before-and-after">
      <span>
        <%= t(:label_before) %>
      </span>
      <span>
        <%= t(:label_after) %>
      </span>
      <img
        class="lazy-load screenshot"
        src="/images/nuno-coelho-santos-streams-patient-profile-overview-before-1x.png"
        srcset="/images/nuno-coelho-santos-streams-patient-profile-overview-before-2x.png 2x,
                /images/nuno-coelho-santos-streams-patient-profile-overview-before-3x.png 3x"
        alt="Streams Patient Profile Overview"
        width=""
        height=""
      >
      <img
        class="lazy-load screenshot"
        src="/images/nuno-coelho-santos-streams-patient-profile-overview-after-1x.png"
        srcset="/images/nuno-coelho-santos-streams-patient-profile-overview-after-2x.png 2x,
                /images/nuno-coelho-santos-streams-patient-profile-overview-after-3x.png 3x"
        alt="Streams Patient Profile Overview"
        width=""
        height=""
      >
      <p>
        <%= t(:streams_body_3) %>
      </p>
    </div>

    <div class="project-item  project-streams-before-and-after">
      <span>
        <%= t(:label_before) %>
      </span>
      <span>
        <%= t(:label_after) %>
      </span>
      <img
        class="lazy-load screenshot"
        src="/images/nuno-coelho-santos-streams-patient-profile-obs-before-1x.png"
        srcset="/images/nuno-coelho-santos-streams-patient-profile-obs-before-2x.png 2x,
                /images/nuno-coelho-santos-streams-patient-profile-obs-before-3x.png 3x"
        alt="Streams Patient Profile Observations"
        width=""
        height=""
      >
      <img
        class="lazy-load screenshot"
        src="/images/nuno-coelho-santos-streams-patient-profile-obs-after-1x.png"
        srcset="/images/nuno-coelho-santos-streams-patient-profile-obs-after-2x.png 2x,
                /images/nuno-coelho-santos-streams-patient-profile-obs-after-3x.png 3x"
        alt="Streams Patient Profile Observations"
        width=""
        height=""
      >
      <img
        class="lazy-load keylines keylines-1"
        src="/images/nuno-coelho-santos-streams-keylines-1-1x.png"
        srcset="/images/nuno-coelho-santos-streams-keylines-1-2x.png 2x,
                /images/nuno-coelho-santos-streams-keylines-1-3x.png 3x"
        width=""
        height=""
      >
      <img
        class="lazy-load keylines keylines-2"
        src="/images/nuno-coelho-santos-streams-keylines-2-1x.png"
        srcset="/images/nuno-coelho-santos-streams-keylines-2-2x.png 2x,
                /images/nuno-coelho-santos-streams-keylines-2-3x.png 3x"
        width=""
        height=""
      >
      <p>
        <%= t(:streams_body_4) %>
      </p>
    </div>

    <div class="project-item  project-streams-before-and-after">
      <span>
        <%= t(:label_before) %>
      </span>
      <span>
        <%= t(:label_after) %>
      </span>
      <img
        class="lazy-load screenshot"
        src="/images/nuno-coelho-santos-streams-help-before-1x.png"
        srcset="/images/nuno-coelho-santos-streams-help-before-2x.png 2x,
                /images/nuno-coelho-santos-streams-help-before-3x.png 3x"
        alt="Streams Help"
        width=""
        height=""
      >
      <img
        class="lazy-load screenshot"
        src="/images/nuno-coelho-santos-streams-help-after-1x.png"
        srcset="/images/nuno-coelho-santos-streams-help-after-2x.png 2x,
                /images/nuno-coelho-santos-streams-help-after-3x.png 3x"
        alt="Streams Help"
        width=""
        height=""
      >
      <p>
        <%= t(:streams_body_5) %>
      </p>
    </div>

    <div class="project-item project-streams-component">
      <p>
        <%= t(:streams_body_6) %>
      </p>
      <img
        class="lazy-load"
        src="/images/nuno-coelho-santos-streams-badge-component-1x.png"
        srcset="/images/nuno-coelho-santos-streams-badge-component-2x.png 2x,
                /images/nuno-coelho-santos-streams-badge-component-3x.png 3x"
        alt="Streams Badge Component"
        width=""
        height=""
      >
    </div>

    <div class="project-item">
      <p>
        <%= t(:streams_body_7) %>
      </p>
      <img
        class="lazy-load"
        src="/images/nuno-coelho-santos-streams-formatters-1x.png"
        srcset="/images/nuno-coelho-santos-streams-formatters-2x.png 2x,
                /images/nuno-coelho-santos-streams-formatters-3x.png 3x"
        alt="Streams Formatters"
        width=""
        height=""
      >
    </div>

    <div class="project-item">
      <p>
        <%= t(:streams_body_8) %>
      </p>
    </div>

    <div class="project-item">
      <img
        class="lazy-load"
        src="/images/nuno-coelho-santos-streams-identifiers-in-list-1x.png"
        srcset="/images/nuno-coelho-santos-streams-identifiers-in-list-2x.png 2x,
                /images/nuno-coelho-santos-streams-identifiers-in-list-3x.png 3x"
        alt="Streams Identifiers in Patients List"
        width=""
        height=""
      >
      <img
        class="lazy-load"
        src="/images/nuno-coelho-santos-streams-identifiers-in-patient-profile-1x.png"
        srcset="/images/nuno-coelho-santos-streams-identifiers-in-patient-profile-2x.png 2x,
                /images/nuno-coelho-santos-streams-identifiers-in-patient-profile-3x.png 3x"
        alt="Streams Patient Header"
        width=""
        height=""
      >
      <img
        class="lazy-load"
        src="/images/nuno-coelho-santos-streams-identifiers-in-patient-profile-short-1x.png"
        srcset="/images/nuno-coelho-santos-streams-identifiers-in-patient-profile-short-2x.png 2x,
                /images/nuno-coelho-santos-streams-identifiers-in-patient-profile-short-3x.png 3x"
        alt="Streams Short Patient Header"
        width=""
        height=""
      >
    </div>

    <div class="project-item">
        <video
          autoplay muted loop playsinline
          poster="/images/streams-notes-video.jpg"
          width=""
          height=""
        >
          <source src="/videos/streams-notes-video.mp4"  type="video/mp4">
          <source src="/videos/streams-notes-video.webm" type="video/webm">
        </video>
      <p>
        <%= t(:streams_body_9) %>
      </p>
    </div>

    <div class="project-item">
      <img
        class="lazy-load"
        src="/images/nuno-coelho-santos-streams-poster-2x.jpg"
        alt="Streams Poster"
        width=""
        height=""
      >
      <p>
        <%= t(:streams_body_10) %>
      </p>
      <p>
        <%= t(:streams_body_11) %>
      </p>
    </div>

  </main>

</article>
