<article class="project project-thread">

  <section class="emphasize">
    <p>
      <%= t(:thread_title) %>
    </p>
  </section>

  <main>

    <div class="project-intro">
      <h6><%= t(:project_label) %></h6>
      <p>
        <%= t(:thread_project) %>
      </p>
      <h6><%= t(:role_label) %></h6>
      <p>
        <%= t(:thread_role) %>
      </p>
      <h6><%= t(:date_label) %></h6>
      <p>
        <%= t(:thread_date) %>
      </p>
      <h6><%= t(:website_label) %></h6>
      <p>
        <%= t(:thread_website) %>
      </p>
      <h6><%= t(:description_label) %></h6>
      <p>
        <%= t(:thread_description) %>
      </p>
    </div>

    <div class="project-item project-thread-intro">
      <p>
        <%= t(:thread_body_1) %>
      </p>
    </div>

    <div class="project-item project-thread-week">
      <p>
        <%= t(:thread_body_2) %>
      </p>
    </div>

    <!--<div class="project-item project-thread-office-image">
      <img
        class="lazy-load"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-office-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-office-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-office-1x.jpg"
        alt="Photo of the Thread office"
        width="690"
        height="440"
      >
    </div>-->

    <div class="project-item project-thread-mobile-intro">
      <img
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-mobile-title-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-mobile-title-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-mobile-title-1x.jpg"
        alt="Challenge: How may we improve our mobile experience?"
        width="364"
        height="108"
      >
    </div>

    <div class="project-item project-thread-mobile-intro-part-1">
      <p>
        <%= t(:thread_body_3) %>
      </p>
    </div>

    <div class="project-item project-thread-mobile-intro-part-2">
      <p>
        <%= t(:thread_body_4) %>
      </p>
    </div>

    <div class="project-item project-thread-mobile-wireframes">
      <img
        class="lazy-load"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-mobile-wireframes-2x.png 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-mobile-wireframes-3x.png 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-mobile-wireframes-1x.png"
        alt="Thread V2 iOS wireframes, work by Nuno Coelho Santos"
        width="1340"
        height="1180"
      >
    </div>

    <div class="project-item project-thread-mobile-desktop">
      <p>
        <%= t(:thread_body_5) %>
      </p>
      <img
        class="lazy-load project-thread-mobile-modals-narrow"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-mobile-modals-narrow-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-mobile-modals-narrow-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-mobile-modals-narrow-1x.jpg"
        alt="Thread V2 modals redesign, work by Nuno Coelho Santos"
        width="750"
        height="1142"
        data-layout="narrow"
      >
      <img
        class="lazy-load project-thread-mobile-modals-wide"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-mobile-modals-wide-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-mobile-modals-wide-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-mobile-modals-wide-1x.jpg"
        alt="Thread V2 modals redesign, work by Nuno Coelho Santos"
        width="1280"
        height="1650"
        data-layout="wide"
      >
      <img
        class="lazy-load project-thread-mobile-components"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-mobile-components-2x.png 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-mobile-components-3x.png 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-mobile-components-1x.png"
        alt="Thread V2 component library, work by Nuno Coelho Santos"
        width="345"
        height="892"
      >
    </div>

    <div class="project-item project-thread-browse-intro">
      <img
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-browse-title-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-browse-title-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-browse-title-1x.jpg"
        alt="Challenge: How may we keep providing a Thread service even while stylists are offline or in vacation?"
        width="500"
        height="140"
      >
    </div>

    <div class="project-item project-thread-browse-intro-part-1">
      <p>
        <%= t(:thread_body_6) %>
      </p>
    </div>

    <div class="project-item project-thread-browse-intro-part-2">
      <p>
        <%= t(:thread_body_7) %>
      </p>
    </div>

    <div class="project-item project-thread-browse-mobile">
      <div class="iphone-with-video project-thread-browse-mobile" data-layout="narrow">
        <video
          width="293"
          height="518"
          poster="./images/nuno-coelho-santos-thread-browse-mobile-video.jpg"
          muted loop
        >
          <source src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/videos/nuno-coelho-santos-thread-browse-mobile-video.mp4">
          <source src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/videos/nuno-coelho-santos-thread-browse-mobile-video.ogg"  type="video/ogg">
          <source src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/videos/nuno-coelho-santos-thread-browse-mobile-video.webm" type="video/webm">
        </video>
      </div>
      <img
        class="lazy-load project-thread-browse-icons"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-browse-icons-2x.png 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-browse-icons-3x.png 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-browse-icons-1x.png"
        alt="Thread Browse icons, work by Nuno Coelho Santos"
        width="560"
        height="636"
        data-layout="wide"
      >
      <div class="iphone-with-video project-thread-browse-mobile-video" data-layout="wide">
        <video
          width="293"
          height="518"
          poster="./images/nuno-coelho-santos-thread-browse-mobile-video.jpg"
          muted loop
        >
          <source src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/videos/nuno-coelho-santos-thread-browse-mobile-video.mp4">
          <source src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/videos/nuno-coelho-santos-thread-browse-mobile-video.ogg"  type="video/ogg">
          <source src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/videos/nuno-coelho-santos-thread-browse-mobile-video.webm" type="video/webm">
        </video>
      </div>
      <button
        class="button button-play"
        data-action="play-thread-browse-mobile"
        data-layout="wide"
      >
        <span class="icon icon-play"></span><%= t(:play_label) %>
      </button>
      <button
        class="button button-pause"
        data-action="pause-thread-browse-mobile"
        data-layout="hidden"
      >
        <span class="icon icon-pause"></span><%= t(:pause_label) %>
      </button>
      <p>
        <%= t(:thread_body_8) %>
      </p>
    </div>

    <div class="project-item project-thread-browse-desktop">
      <img
        class="lazy-load"
        srcset="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-browse-desktop-2x.jpg 2x, http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-browse-desktop-3x.jpg 3x"
        src="http://media.nunocoelhosantos.com.s3-website-us-east-1.amazonaws.com/images/nuno-coelho-santos-thread-browse-desktop-1x.jpg"
        alt="Thread browse desktop design, work by Nuno Coelho Santos"
        width="1180"
        height="816"
      >
    </div>

    <div class="project-item project-thread-outro">
      <p>
        <%= t(:thread_body_9) %>
      </p>
    </div>

  </main>

</article>
