<header>
  <h1>Nuno Coelho Santos</h1>

  <div data-layout="narrow">
    <a href="https://instagram.com/nunosans" target="_blank" class="external">
      <i class="icon icon-instagram"><%= t(:label_instagram) %></i>
    </a>
    <a href="https://threads.net/nunosans" target="_blank" class="external">
      <i class="icon icon-threads"><%= t(:label_threads) %></i>
    </a>
    <a href="https://linkedin.com/in/nunosans" target="_blank" class="external">
      <i class="icon icon-linkedin"><%= t(:label_linkedin) %></i>
    </a>
    <a href="mailto:nuno@nunocoelhosantos.com">
      <i class="icon icon-email"><%= t(:label_email) %></i>
    </a>
  </div>

  <div data-layout="wide">
    <ul>
      <li>
        <b><i class="icon icon-email"><%= t(:label_email) %></i></b>
        <a href="mailto:nuno@nunocoelhosantos.com">nuno@nunocoelhosantos.com</a>
        <br>
      </li>
      <li>
        <b><i class="icon icon-linkedin"><%= t(:label_linkedin) %></i></b>
        <a href="https://linkedin.com/in/nunosans" target="_blank" class="external">in/nunosans</a>
        <br>
      </li>
      <li>
        <b><i class="icon icon-threads"><%= t(:label_threads) %></i></b>
        <a href="https://threads.net/nunosans" target="_blank" class="external">@nunosans</a>
        <br>
      </li>
      <li>
        <b><i class="icon icon-instagram"><%= t(:label_instagram) %></i></b>
        <a href="https://instagram.com/nunosans" target="_blank" class="external">@nunosans</a>
        <br>
      </li>
    </ul>
  </div>

</header>
