<header>
  <h1>Nuno Coelho Santos</h1>

  <div data-layout="narrow">
    <a href="mailto:nuno@nunocoelhosantos.com"><%= t(:label_email) %></a><br>
    <a href="https://linkedin.com/in/nunosans" target="_blank" class="external"><%= t(:label_linkedin) %></a><br>
    <a href="https://twitter.com/nunosans" target="_blank" class="external"><%= t(:label_twitter) %></a><br>
    <a href="https://instagram.com/nunosans" target="_blank" class="external"><%= t(:label_instagram) %></a><br>
    <!-- <a href="https://nunosans.com" target="_blank" class="external"><%= t(:label_blog) %></a><br> -->
    <!-- <a href="https://tinyletter.com/nunosans" target="_blank" class="external"><%= t(:label_newsletter) %></a> -->
  </div>

  <div data-layout="wide">
    <ul>
      <li>
        <b><%= t(:label_email) %>:</b> <a href="mailto:nuno@nunocoelhosantos.com">nuno@nunocoelhosantos.com</a><br>
      </li>
      <li>
        <b><%= t(:label_linkedin) %>:</b> <a href="https://linkedin.com/in/nunosans" target="_blank" class="external">in/nunosans</a><br>
      </li>
      <!-- <li>
        <b><%= t(:label_instagram) %>:</b> <a href="https://instagram.com/nunosans" target="_blank" class="external">@nunosans</a><br>
      </li> -->
      <li>
        <b><%= t(:label_twitter) %>:</b> <a href="https://twitter.com/nunosans" target="_blank" class="external">@nunosans</a><br>
      </li>
      <li>
        <b><%= t(:label_blog) %>:</b> <a href="https://nunosans.com" target="_blank" class="external">nunosans.com</a>
      </li>
      <!-- <li>
        <b><%= t(:label_newsletter) %>:</b> <a href="https://tinyletter.com/nunosans" target="_blank" class="external"><%= t(:label_newsletter_subscribe) %></a><br>
      </li> -->
    </ul>
  </div>

</header>
