<header>
  <h1>Nuno Coelho Santos</h1>

  <div data-layout="narrow">
    <a href="mailto:nuno@nunocoelhosantos.com?subject=Question%20about%20your%20work%20/%20Quote%20request%20/%20Work%20proposal&body=Hi%20Nuno,%0D%0A%0D%0A"><%= t(:label_email) %></a><br>
    <a href="https://nunosans.com" target="_blank" class="external"><%= t(:label_blog) %></a>
    <a href="https://twitter.com/nunosans" target="_blank" class="external"><%= t(:label_twitter) %></a>
    <a href="https://instagram.com/nunosans" target="_blank" class="external"><%= t(:label_instagram) %></a>
  </div>

  <div data-layout="wide">
    <ul>
      <li>
        <b><%= t(:label_email) %>:</b> <a href="mailto:nuno@nunocoelhosantos.com?subject=Question%20about%20your%20work%20/%20Quote%20request%20/%20Work%20proposal&body=Hi%20Nuno,%0D%0A%0D%0A">nuno@nunocoelhosantos.com</a><br>
      </li>
      <li>
        <b><%= t(:label_blog) %>:</b> <a href="https://nunosans.com" target="_blank" class="external">nunosans.com</a>
      </li>
      <li>
        <b><%= t(:label_twitter) %>:</b> <a href="https://twitter.com/nunosans" target="_blank" class="external">@nunosans</a><br>
      </li>
      <li>
        <b><%= t(:label_instagram) %>:</b> <a href="https://instagram.com/nunosans" target="_blank" class="external">@nunosans</a><br>
      </li>
    </ul>
  </div>

</header>
