<header>
  <h1>Nuno Coelho Santos</h1>

  <div data-layout="narrow">
    <a href="mailto:nuno@nunocoelhosantos.com">
      <i class="icon icon-email"></i>
      <!--<%= t(:label_email) %>-->
    </a>
    <a href="https://linkedin.com/in/nunosans" target="_blank" class="external">
      <i class="icon icon-linkedin"></i>
      <!--<%= t(:label_linkedin) %>-->
    </a>
    <a href="https://threads.net/nunosans" target="_blank" class="external">
      <i class="icon icon-threads"></i>
      <!--<%= t(:label_threads) %>-->
    </a>
    <a href="https://instagram.com/nunosans" target="_blank" class="external">
      <i class="icon icon-instagram"></i>
      <!--<%= t(:label_instagram) %>-->
    </a>
    <br>
  </div>

  <div data-layout="wide">
    <ul>
      <li>
        <b><i class="icon icon-email"></i> <!--<%= t(:label_email) %>:--></b>
        <a href="mailto:nuno@nunocoelhosantos.com">nuno@nunocoelhosantos.com</a>
        <br>
      </li>
      <li>
        <b><i class="icon icon-linkedin"></i> <!--<%= t(:label_linkedin) %>:--></b>
        <a href="https://linkedin.com/in/nunosans" target="_blank" class="external">in/nunosans</a>
        <br>
      </li>
      <li>
        <b><i class="icon icon-threads"></i> <!--<%= t(:label_threads) %>:--></b>
        <a href="https://threads.net/nunosans" target="_blank" class="external">@nunosans</a>
        <br>
      </li>
      <li>
        <b><i class="icon icon-instagram"></i> <!--<%= t(:label_instagram) %>:--></b>
        <a href="https://instagram.com/nunosans" target="_blank" class="external">@nunosans</a>
        <br>
      </li>
    </ul>
  </div>

</header>
