<article class="intro">

  <section class="emphasize intro-short" data-layout="visible">
    <p>
      <%= t(:intro_short) %>
    </p>
    <%= partial "smiley" %>
    <button class="read-more" data-action="show-intro-complete">
      <%= t(:intro_expand) %>
    </button>
  </section>

  <section class="emphasize intro-complete" data-action="hide-intro-complete" data-layout="hidden">
    <p>
      <%= t(:intro_long) %>
    </p>
    <p>
      <%= t(:intro_currently) %>
    </p>
    <p>
      <%= t(:intro_previously) %>
    </p>
    <p>
      <img
        class="lazy-load"
        srcset="/images/nuno-coelho-santos-intro-portrait-2x.jpg 2x, /images/nuno-coelho-santos-intro-portrait-3x.jpg 3x"
        src="/images/nuno-coelho-santos-intro-portrait-1x.jpg"
        alt="Nuno Coelho Santos, portuguese graphic and product designer at Google, DeepMind, Thread, ustwo."
        width="720"
        height="1080"
      >
    </p>
    <p>
      <%= partial "smiley" %>
    </p>

  </section>

</article>
