<article class="intro">

  <section class="emphasize intro-short" data-layout="visible">
    <p>
      <%= t(:intro_short) %>
    </p>
    <%= partial "smiley" %>
    <button class="read-more" data-action="show-intro-complete">
      <%= t(:intro_expand) %>
    </button>
  </section>

  <section class="emphasize intro-complete" data-action="hide-intro-complete" data-layout="hidden">
    <p>
      <%= t(:intro_long) %>
    </p>
    <p>
      <%= t(:intro_currently) %>
    </p>
    <p>
      <%= t(:intro_previously) %>
    </p>
    <p>
      <img
        class="lazy-load"
        srcset="/images/nuno-coelho-santos-intro-portrait-2x.jpg 2x, /images/nuno-coelho-santos-intro-portrait-3x.jpg 3x"
        src="/images/nuno-coelho-santos-intro-portrait-1x.jpg"
        alt="Nuno Coelho Santos, portuguese graphic and product designer at Facebook WhatsApp, Google, DeepMind, Thread, ustwo."
        width="720"
        height="1080"
      >
    </p>
    <table>
      <tr>
        <td>2020</td>
        <td><%= t(:feature_speaker) %></td>
        <td><a href="https://www.adobe.com/max/2020/sessions/turning-abstract-into-reality-the-superpower-of-ux-od5168.html" target="_blank">Adobe MAX 2020</a></td>
      </tr>
      <tr>
        <td>2020</td>
        <td><%= t(:feature_interview) %></td>
        <td>0.4 Magazine</td>
      </tr>
      <tr>
        <td>2020</td>
        <td><%= t(:feature_panel) %></td>
        <td><a href="https://nvite.com/AdobeXD/designsystemzen" target="_blank">Zen and the Art of Design Systems</a></td>
      </tr>
      <tr>
        <td>2019</td>
        <td><%= t(:feature_interview) %></td>
        <td><a href="https://interfacelovers.com/interviews/nuno-coelho-santos" target="_blank">Interface Lovers</a></td>
      </tr>
      <tr>
        <td>2018</td>
        <td><%= t(:feature_speaker) %></td>
        <td><a href="https://digicom.ipca.pt/2018/#filter=home.en" target="_blank">DIGICOM</a></td>
      </tr>
      <tr>
        <td>2018</td>
        <td><%= t(:feature_speaker) %></td>
        <td>Queen's Young Leaders</td>
      </tr>
      <tr>
        <td>2017</td>
        <td><%= t(:feature_speaker) %></td>
        <td>Escola Artística de Soares dos Reis</td>
      </tr>
      <tr>
        <td>2016</td>
        <td><%= t(:feature_interview) %></td>
        <td><a href="https://iclub.pt/entrevista-nuno-coelho-santos/" target="_blank">iClub</a></td>
        </tr>
      <tr>
        <td>2016</td>
        <td><%= t(:feature_feature) %></td>
        <td><a href="http://www.minimalstuff.com/websites/nuno-coelho-santos/" target="_blank">Minimal Suff</a></td>
      </tr>
      <tr>
        <td>2015</td>
        <td><%= t(:feature_feature) %></td>
        <td><a href="https://httpster.net/website/nuno-coelho-santos/" target="_blank">httpstr</a></td>
      </tr>
      <tr>
        <td>2013</td>
        <td><%= t(:feature_feature) %></td>
        <td><a href="https://www.siteinspire.com/directory/374-nuno-coelho-santos" target="_blank">SiteInspire</a></td>
      </tr>
    </table>
    <p>
      <%= partial "smiley" %>
    </p>
  </section>

</article>
