<article class="intro">

  <section class="emphasize intro-short" data-layout="visible">
    <p>
      <%= t(:intro_short) %>
    </p>
    <%= partial "smiley" %>
    <button class="read-more" data-action="show-intro-complete">
      <%= t(:intro_expand) %>
    </button>
  </section>

  <section class="emphasize intro-complete" data-action="hide-intro-complete" data-layout="hidden">
    <p>
      <%= t(:intro_long) %>
    </p>
    <p>
      <%= t(:intro_currently) %>
    </p>
    <p>
      <%= t(:intro_previously) %>
    </p>
    <p>
      <img
        class="lazy-load"
        srcset="/images/nuno-coelho-santos-intro-portrait-2x.jpg 2x, /images/nuno-coelho-santos-intro-portrait-3x.jpg 3x"
        src="/images/nuno-coelho-santos-intro-portrait-1x.jpg"
        alt="Nuno Coelho Santos, portuguese graphic and product designer at Google, DeepMind, Thread, ustwo."
        width="720"
        height="1080"
      >
    </p>
    <table>
      <tr>
        <td>2020</td>
        <td>Speaker</td>
        <td>Adobe MAX 2020</td>
      </tr>
      <tr>
        <td>2020</td>
        <td>Interview</td>
        <td>0.4 Magazine</td>
      </tr>
      <tr>
        <td>2019</td>
        <td>Interview</td>
        <td><a href="https://interfacelovers.com/interviews/nuno-coelho-santos" target="_blank">Interface Lovers</a></td>
      </tr>
      <tr>
        <td>2018</td>
        <td>Speaker</td>
        <td>DIGICOM</td>
      </tr>
      <tr>
        <td>2018</td>
        <td>Speaker</td>
        <td>Queen's Young Leaders</td>
      </tr>
      <tr>
        <td>2017</td>
        <td>Speaker</td>
        <td>Presentation ESSR</td>
      </tr>
      <tr>
        <td>2016</td>
        <td>Interview</td>
        <td><a href="https://iclub.pt/entrevista-nuno-coelho-santos/" target="_blank">iClub</a></td>
        </tr>
      <tr>
        <td>2016</td>
        <td>Feature</td>
        <td>Minimal Suff</td>
      </tr>
      <tr>
        <td>2015</td>
        <td>Feature</td>
        <td>httpstr</td>
      </tr>
      <tr>
        <td>2013</td>
        <td>Feature</td>
        <td><a href="https://www.siteinspire.com/directory/374-nuno-coelho-santos" target="_blank">SiteInspire</a></td>
      </tr>
    </table>
    <p>
      <%= partial "smiley" %>
    </p>
  </section>

</article>
