<article class="intro">

  <section class="emphasize intro-short" data-layout="visible">
    <p>
      <%= t(:intro_short) %>
    </p>
    <%= partial "smiley" %>
    <button class="read-more" data-action="show-intro-complete">
      <%= t(:intro_expand) %>
    </button>
  </section>

  <section class="emphasize intro-complete" data-action="hide-intro-complete" data-layout="hidden">
    <p>
      <%= t(:intro_long) %>
    </p>
    <p>
      <%= t(:intro_currently) %>
    </p>
    <p>
      <%= t(:intro_previously) %>
    </p>
    <p>
      <%= partial "smiley" %>
    </p>
  </section>

</article>
